#main-content {
    font-size: 16px;
}

em {
    padding-right: 0.25ex;
}


/*
Override narrow user interface. Keep line width narrow but push page chrome to
the sides of the page.
*/
.container-xl {
    max-width: none;
}

.bd-content .section {
    max-width: 100ex; /* A nice reading width */
    margin: auto;
}

/*
Make buttons at the top of the page lighter
*/
#navbar-toggler,
.topbar .topbar-main button.topbarbtn > * {
    color: #ddd;
}

#navbar-toggler:hover,
.topbar .topbar-main button.topbarbtn:hover > * {
    color: #556;
}

/*
Modify the look of inline `code` so it's easier to see.
*/
code {
    padding: 4px 4px 2px;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 0 2px;
}

/*
If something is targeted, make it pulse highlighted once.
But, make sure not to highlight entire sections or titles
(e.g. page sections or index headings)
*/
@keyframes pulse-highlight {
    0% {
        background-color: #0000;
    }
    50% {
        background-color: #ffdf00;
    }
    100% {
        background-color: #0000;
    }
}
:not(h2):not(.section):target,
span.highlighted,
:target[id^="index"] + * {
    animation: pulse-highlight 1500ms ease-in-out;
}

/*
Make sure that terms jumped to via index links aren't covered by the header.
The should be part way down the page (since they're highlighted ^ easy to see)
*/
span[id^="index"] {
    position: relative;
    top: -6em;
}

/*
Same thing for glossary links.
Need a bit more of a workaround to get this working with the highlighting.
*/
dt[id^="term"] {
    z-index: -2;
}
dt[id^="term"]::before {
    content: '';
    display: block;
    margin-top: -6em;
    height: 6em;
    background-color: white;
    z-index: -1;
}

.dataframe * {
    font-size: 0.9rem;
}

/*
Currently using an html code block to give Python expression templates, e.g.
<table>.groupby('<column_name>').<calculation>()
changing the styling of this block so that it looks as preformatted text instead
of a code block.
*/
.highlight-html * {
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
}
.highlight-html .copybtn {
    display: none;
}

/*
References to other pages should be decorated!
*/
.doc::before {
    content: '🔖 ';
}
.doc {
    display: inline-block;
}
