/* Override narrow user interface.

Line width should be kept narrow, but navigation/interface should be pushed to
the sides of the page.
*/
.container-xl {
    max-width: none;
}

.bd-content .section {
    max-width: 48em; /* A nice reading width */
    margin: auto;
}

/* Make buttons lighter

We don't want to change the tooltips, only the icons, thus >
*/
#navbar-toggler,
.topbar .topbar-main button.topbarbtn > * {
    color: #ddd;
}

#navbar-toggler:hover,
.topbar .topbar-main button.topbarbtn:hover > * {
    color: #556;
}

/* Modify the look of `code`.

Inline code is too hard to see!
*/
code {
    padding: 4px 4px 2px;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 0 2px;
}

/* If something is targeted, make it highlighted */
* :target,
span.highlighted,
:target[id^="index"] + * {
    background-color: #ffdf00;
}

/* Make sure that terms jumped to via index links aren't covered by the header.

The should be part way down the page (since they're highlighted ^ easy to see)
*/
span[id^="index"] {
    position: relative;
    top: -6em;
}
